bin/brogue
bin/BrogueHighScores.txt
src/libtcod-1.5.2
src/libtcod-1.5.2-32.tar.gz

*.broguesave
*.broguerec

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
